html, body {
	font-family: Arial, Helvetica, sans-serif;
}

.game-controls {
	margin-top: 5px;
	text-align: center;
}

#game-container {
		margin: auto;
}

#game-container .container {
   position: relative;
	background: url(../images/Background32.png);
   overflow: hidden;
   margin: 0;
   padding: 0;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
}

#game-container.low-res .container {
	background: url(../images/Background16.png);
}

#game-container .border_background {
   position: absolute;
   background-color: #4B5844;
   display: block;
}

#game-container .progress {
   text-align: center;
}

.rotate90 {
	-moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
}

.rotate180 {
	-moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
}

.rotate270 {
	-moz-transform:rotate(270deg);
    -webkit-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    -ms-transform:rotate(270deg);
}

#game-container .sprite_background {
   position: absolute;
	background-image: url(../images/Snake32.png);
}

#game-container .sprite_background_food {
   background-position: -192 0;
}

#game-container .sprite_background_body {
   background-position: -32 0;
}

#game-container .sprite_background_body_ru {
   background-position: -64 0;
}

#game-container .sprite_background_body_lu {
   background-position: -96 0;
}

#game-container .sprite_background_head {
   background-position: -128 0;
}

#game-container .sprite_background_head_dead {
   background-position: -160 0;
}

#game-container .sprite_background_tail {
   background-position: 0 0;
}

#game-container.low-res .sprite_background_food {
   background-position: -96 0;
}

#game-container.low-res .sprite_background {
   position: absolute;
	background-image: url(../images/Snake16.png);
}

#game-container.low-res .sprite_background_body {
   background-position: -16 0;
}

#game-container.low-res .sprite_background_body_ru {
   background-position: -32 0;
}

#game-container.low-res .sprite_background_body_lu {
   background-position: -48 0;
}

#game-container.low-res .sprite_background_head {
   background-position: -64 0;
}

#game-container.low-res .sprite_background_head_dead {
   background-position: -80 0;
}

#game-container.low-res .sprite_background_tail {
   background-position: 0 0;
}
